<!DOCTYPE html>
<html>
	<head>
		<title>Clock</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="theme-color" content="#e4e4e4">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="assets/style.css">
	</head>

	<body>
		<div>
			<h1 style="margin-top: 0.1em; margin-bottom: 0;">
				Error
			</h1>
			<div>
				<p>To customize this page, please go to the <a href="login">login</a> page first.</p>
			</div>
		</div>

		<div id="foot" style="position: fixed; bottom: 0; padding: 0.7em; border-top: 2px solid; margin: 0 auto; left: 0; right: 0; box-sizing: border-box; background: inherit;">
			made by Skylar Smith
		</div>
	</body>
</html>
